<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
 
	<!-- <bean id="triangle" class="jsr250Annotations.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean> -->
	
	<bean id="circle" class="jsr250Annotations.Circle">
		<!-- <property name="center" ref="pointA" /> -->
	</bean>
	
	<bean id="pointA" class="jsr250Annotations.Point">
		<qualifier value="circleRelated"/>
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	
	<bean id="pointB"  class="jsr250Annotations.Point">
		<property name="x" value="0" />
		<property name="y" value="-20" />
	</bean>
	
	<bean id="pointC" class="jsr250Annotations.Point" >
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>
	
	<context:annotation-config />
	
</beans>